<div class="container bot-space">
<% @article.comments.each do |cmt| %>
        <div class="well "> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -> 
         "<%= cmt.content %>" <br>&nbsp;&nbsp;
        <small> by @<i> <%= Author.find(cmt.user_id).username %><i></small> 
        <% if current_author and cmt.user_id == current_author.id %>&nbsp;&nbsp;&nbsp;
           <small><%= link_to "Remove", delete_comment_path(article_id: @article.id),method: :delete,
                class:"text-danger" %> </small>
        <%end%>
        <br></div> <br>

<%end%> 
<div>
