<div class="container">
    <div >
        <p><h1><%= @article.title %></h1><small><i>by @<%= @article.author.username %></i></small></p>
        <pre style="font-size:15px">
            <%= @article.content %>
        <pre>
    </div>
</div>
