<center>
        <h1 class="mt-4 "> <span style="color:rgb(179, 179, 179)"> All Articles</span></h1>
        <% if current_author %>
        <%= link_to('Export articles - CSV', articles_path(@article, format: :csv), class:"btn btn-success btn-sm shadow rounded mb-3",target: :_blank) %>
        <%end%>
        <%= render 'showarticles' %>
</center>
