<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articls</title>
</head>
<body>
    <div class="container">
    <p>
        <%= link_to '<< Return Home', articles_path, class:"btn btn-outline-secondary btn-sm shadow rounded" %>
    </p>
    <div class="text-white">
        <p><h2><%= @article.title %></h2></p>
        <pre class="text-white">
            <%= @article.content %>
        <pre>
    </div>
    </div>
</body>
</html>