<center>
    <h1 class="mt-4 "> <span style="color:rgb(179, 179, 179)"> <%=@user.username%>'s articles </span></h1><br>
    <% if current_author == @user%>
    <%= link_to "Saved Articles", savedarticles_path(author_id: current_author.id) ,class:"btn btn-outline-info" %> &nbsp;
    <%= link_to "Delete Profile", delete_user_path(author_id: current_author.id),method: :delete ,class:"btn btn-outline-danger" %>
    <%end%>
    <% if @articles.length > 0 %>
        <%= render 'articles/showarticles' %>
    <%else%>
        <br><br><br><br><br><br>
        <h1 style="color:rgb(115, 115, 115);">No Articles Available</h1>
    <%end%>
</center>