<% if cur_obj.errors.any? %>
    <div id="alert" class="alert alert-secondary alert-dismissible fade show" role="alert">
        <div style="text-align:left">
        <h4 class="alert-heading">Errors!</h4>
        <hr>
        
        <ul>
            <% cur_obj.errors.full_messages.each do|e|%>
                <li><%=e%></li>
            <%end%>
        </ul></div>

        <button type="button " class="close btn btn-lg float-right" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%end%>
  <script type="text/javascript">
    setTimeout(function () {
        $('#alert').alert('close');
    }, 3000);
  </script>
