<br>
<br>
<br>
<div class="container">
<div class="jumbotron text-center">
    <br>
    <span style="color:rgb(204, 204, 204)">
    <h1 class="display-4">Welcome to <span style="color:red;">Rails Blog</span> </h1>
    <p class="lead">This is a simple blog app with all - blog app features built with Rails framework with postgresql backend</p>
    <hr >
    </span>
    <br><br><br><br><br><br>
    <%= link_to "Sign Up!", signup_path, class:"btn btn-success btn-lg" %> &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Log In", login_path, class:"btn btn-success btn-lg" %>
    </div>
</div>