@import 'bootstrap/dist/css/bootstrap';

.navbar {
 background-color: rgb(37, 37, 37) !important;
}

.nav-link{
    color: white !important;
}

pre { 
    white-space: pre-wrap; 
    word-break: break-word;
    word-wrap: break-word;display: flex;
}

#logo{
    color: rgb(171, 240, 245);
    float: left;
    font-size: 2em;
    letter-spacing: 0.6px;
    font-weight:500;
}


.jumbotron{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), asset-url('bg-home.jpg');
    background-size: cover;
    height: 550px;
    background-position: center center;
    border-radius: 18px;
}