<div class="container mt-4 ml-6">

  <% flash.each do |name, msg| %>
    <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <div style="text-align:left"> <%= msg %> </div>
    </div>
  <% end %>

  <script type="text/javascript">
    setTimeout(function () {
        $('#alert').alert('close');
    }, 2000);
  </script>
</div>