<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Inba Sagaran", "https://www.linkedin.com/in/inbasagaran/", class: "text-white" %></small>
  </div>
</footer>