<nav class="navbar navbar-expand-lg navbar-light bg-light">
&nbsp;&nbsp;&nbsp;
<%= link_to "Rails Blog", root_path ,class:"navbar-brand", id:"logo"  %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <%= link_to "Articles", articles_path,class:"nav-link "  %>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    </ul>
    <ul class="navbar-nav ms-auto ">
            <%= link_to 'New article',new_article_path, class:"btn btn-outline-success shadow rounded"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p><sub> <%= link_to '@inbasagaran', "https://www.linkedin.com/in/inbasagaran/", class:"text-secondary", target: :_blank %> </sub></p> &nbsp;&nbsp;&nbsp;
    </ul>
    
</div>
</nav>